Repository VirtualPatientEngine/AIAgents4Pharma, pull requests merged in 2025-05, with the labels that each got.

#201 feat: add protein enrichment
  aiagents4pharma/talk2knowledgegraphs/configs/config.yaml
  aiagents4pharma/talk2knowledgegraphs/configs/utils/enrichments/uniprot_proteins/default.yaml
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_enrichments_uniprot.py
  aiagents4pharma/talk2knowledgegraphs/utils/enrichments/__init__.py
  aiagents4pharma/talk2knowledgegraphs/utils/enrichments/uniprot_proteins.py
  app/frontend/streamlit_app_talk2aiagents4pharma.py
  docs/notebooks/talk2knowledgegraphs/tutorial_primekg_enrichment.ipynb
  docs/talk2knowledgegraphs/utils/enrichments/uniprot_proteins.md
  mkdocs.yml
Labels: enhancement, T2KG

#202 Feat/add ols enrichment embedding
  aiagents4pharma/talk2knowledgegraphs/configs/config.yaml
  aiagents4pharma/talk2knowledgegraphs/configs/utils/enrichments/ols_terms/default.yaml
  aiagents4pharma/talk2knowledgegraphs/configs/utils/enrichments/reactome_pathways/default.yaml
  aiagents4pharma/talk2knowledgegraphs/configs/utils/pubchem_utils/default.yaml
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_enrichments_ols.py
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_enrichments_pubchem.py
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_enrichments_reactome.py
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_pubchem_utils.py
  aiagents4pharma/talk2knowledgegraphs/utils/enrichments/__init__.py
  aiagents4pharma/talk2knowledgegraphs/utils/enrichments/ols_terms.py
  aiagents4pharma/talk2knowledgegraphs/utils/enrichments/pubchem_strings.py
  aiagents4pharma/talk2knowledgegraphs/utils/enrichments/reactome_pathways.py
  aiagents4pharma/talk2knowledgegraphs/utils/pubchem_utils.py
  docs/notebooks/talk2knowledgegraphs/tutorial_primekg_enrichment.ipynb
  docs/talk2knowledgegraphs/utils/enrichments/ols_terms.md
  docs/talk2knowledgegraphs/utils/enrichments/reactome_pathways.md
  mkdocs.yml
Labels: enhancement, T2KG

#203 fix: update basico version
  requirements.txt
Labels: bug, T2B, T2AA4P

#204 fix: update basico version pyproject.toml
  pyproject.toml
Labels: bug, T2B

#208 feat: add-c2s-nb
  aiagents4pharma/talk2cells/pyproject.toml
  aiagents4pharma/talk2cells/requirements.txt
  docs/notebooks/talk2cells/tutorial_c2s.ipynb
  mkdocs.yml
Labels: documentation, enhancement, T2C, T2KG, T2AA4P

#179 feat: added cache support for tests
  .github/workflows/docker_build.yml
  .github/workflows/tests_talk2aiagents4pharma.yml
  .github/workflows/tests_talk2biomodels.yml
  .github/workflows/tests_talk2cells.yml
  .github/workflows/tests_talk2knowledgegraphs.yml
  .github/workflows/tests_talk2scholars.yml
  README.md
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_embeddings_sentencetransformer.py
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_enrichments_ols.py
  aiagents4pharma/talk2scholars/install.md
  docs/index.md
  pyproject.toml
Labels: enhancement, T2B, T2S, T2AA4P

#211 fix: initialize multimodal key
  app/frontend/streamlit_app_talk2aiagents4pharma.py
Labels: bug, T2KG, T2AA4P

#210 feat: faiss auto load
  aiagents4pharma/talk2aiagents4pharma/README.md
  aiagents4pharma/talk2scholars/configs/tools/zotero_read/default.yaml
  aiagents4pharma/talk2scholars/state/state_talk2scholars.py
  aiagents4pharma/talk2scholars/tests/test_question_and_answer_tool.py
  aiagents4pharma/talk2scholars/tests/test_read_helper_utils.py
  aiagents4pharma/talk2scholars/tests/test_s2_display.py
  aiagents4pharma/talk2scholars/tests/test_s2_query.py
  aiagents4pharma/talk2scholars/tests/test_state.py
  aiagents4pharma/talk2scholars/tests/test_zotero_pdf_downloader_utils.py
  aiagents4pharma/talk2scholars/tests/test_zotero_read.py
  aiagents4pharma/talk2scholars/tools/pdf/question_and_answer.py
  aiagents4pharma/talk2scholars/tools/s2/display_dataframe.py
  aiagents4pharma/talk2scholars/tools/s2/multi_paper_rec.py
  aiagents4pharma/talk2scholars/tools/s2/query_dataframe.py
  aiagents4pharma/talk2scholars/tools/s2/search.py
  aiagents4pharma/talk2scholars/tools/s2/single_paper_rec.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/read_helper.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/zotero_pdf_downloader.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_read.py
  app/frontend/streamlit_app_talk2scholars.py
  app/frontend/utils/streamlit_utils.py
  docs/talk2scholars/utils/zotero_pdf_downloader.md
  mkdocs.yml
Labels: enhancement, T2S

#212 fix: T2S Nvidia-nims fix
  .github/workflows/docker_build.yml
  .github/workflows/tests_talk2aiagents4pharma.yml
  .github/workflows/tests_talk2knowledgegraphs.yml
  README.md
  aiagents4pharma/talk2aiagents4pharma/Dockerfile
  aiagents4pharma/talk2aiagents4pharma/install.md
  aiagents4pharma/talk2biomodels/Dockerfile
  aiagents4pharma/talk2knowledgegraphs/Dockerfile
  aiagents4pharma/talk2scholars/Dockerfile
  aiagents4pharma/talk2scholars/agents/main_agent.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/main_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/paper_download_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/pdf_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/s2_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/zotero_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/question_and_answer/default.yaml
  aiagents4pharma/talk2scholars/tests/test_llm_main_integration.py
  aiagents4pharma/talk2scholars/tests/test_main_agent.py
  aiagents4pharma/talk2scholars/tests/test_nvidia_nim_reranker_utils.py
  aiagents4pharma/talk2scholars/tests/test_paper_download_tools.py
  aiagents4pharma/talk2scholars/tests/test_pdf_agent.py
  aiagents4pharma/talk2scholars/tests/test_question_and_answer_tool.py
  aiagents4pharma/talk2scholars/tests/test_routing_logic.py
  aiagents4pharma/talk2scholars/tests/test_s2_agent.py
  aiagents4pharma/talk2scholars/tests/test_s2_display_dataframe.py
  aiagents4pharma/talk2scholars/tests/test_s2_query.py
  aiagents4pharma/talk2scholars/tests/test_s2_query_dataframe.py
  aiagents4pharma/talk2scholars/tests/test_s2_retrieve.py
  aiagents4pharma/talk2scholars/tests/test_s2_utils_ext_ids.py
  aiagents4pharma/talk2scholars/tests/test_tool_helper_utils.py
  aiagents4pharma/talk2scholars/tests/test_zotero_agent.py
  aiagents4pharma/talk2scholars/tests/test_zotero_read.py
  aiagents4pharma/talk2scholars/tools/paper_download/download_arxiv_input.py
  aiagents4pharma/talk2scholars/tools/pdf/question_and_answer.py
  aiagents4pharma/talk2scholars/tools/pdf/utils/__init__.py
  aiagents4pharma/talk2scholars/tools/pdf/utils/generate_answer.py
  aiagents4pharma/talk2scholars/tools/pdf/utils/nvidia_nim_reranker.py
  aiagents4pharma/talk2scholars/tools/pdf/utils/retrieve_chunks.py
  aiagents4pharma/talk2scholars/tools/pdf/utils/tool_helper.py
  aiagents4pharma/talk2scholars/tools/pdf/utils/vector_store.py
  aiagents4pharma/talk2scholars/tools/s2/display_dataframe.py
  aiagents4pharma/talk2scholars/tools/s2/multi_paper_rec.py
  aiagents4pharma/talk2scholars/tools/s2/query_dataframe.py
  aiagents4pharma/talk2scholars/tools/s2/retrieve_semantic_scholar_paper_id.py
  aiagents4pharma/talk2scholars/tools/s2/search.py
  aiagents4pharma/talk2scholars/tools/s2/single_paper_rec.py
  aiagents4pharma/talk2scholars/tools/s2/utils/multi_helper.py
  aiagents4pharma/talk2scholars/tools/s2/utils/search_helper.py
  aiagents4pharma/talk2scholars/tools/s2/utils/single_helper.py
  app/frontend/streamlit_app_talk2scholars.py
  app/frontend/utils/streamlit_utils.py
  docs/index.md
  docs/talk2scholars/utils/generate_answer.md
  docs/talk2scholars/utils/nvidia_nim_reranker.md
  docs/talk2scholars/utils/retrieve_chunks.md
  docs/talk2scholars/utils/tool_helper.md
  docs/talk2scholars/utils/vector_store.md
  mkdocs.yml
Labels: bug, T2S
