Repository VirtualPatientEngine/AIAgents4Pharma, pull requests merged in 2025-03, with the labels that each got.

#121 fix: Use --name when running docker run
  README.md
  docs/index.md
Labels: enhancement, Talk2Biomodels, Talk2Scholars

#120 Feat/unify t2b t2kg
  .github/workflows/tests_talk2aiagents4pharma.yml
  README.md
  aiagents4pharma/__init__.py
  aiagents4pharma/talk2aiagents4pharma/README.md
  aiagents4pharma/talk2aiagents4pharma/__init__.py
  aiagents4pharma/talk2aiagents4pharma/agents/__init__.py
  aiagents4pharma/talk2aiagents4pharma/agents/main_agent.py
  aiagents4pharma/talk2aiagents4pharma/configs/__init__.py
  aiagents4pharma/talk2aiagents4pharma/configs/agents/__init__.py
  aiagents4pharma/talk2aiagents4pharma/configs/agents/main_agent/default.yaml
  aiagents4pharma/talk2aiagents4pharma/configs/config.yaml
  aiagents4pharma/talk2aiagents4pharma/pyproject.toml
  aiagents4pharma/talk2aiagents4pharma/states/__init__.py
  aiagents4pharma/talk2aiagents4pharma/states/state_talk2aiagents4pharma.py
  aiagents4pharma/talk2aiagents4pharma/tests/__init__.py
  aiagents4pharma/talk2aiagents4pharma/tests/test_main_agent.py
  app/frontend/streamlit_app_talk2aiagents4pharma.py
  app/frontend/utils/streamlit_utils.py
  docs/index.md
  docs/talk2aiagents4pharma/agents/main_agent.md
  docs/talk2aiagents4pharma/intro.md
  docs/talk2aiagents4pharma/states/state_talk2aiagents4pharma.md
  mkdocs.yml
  pyproject.toml
Labels: enhancement, Talk2Biomodels, Talk2KnowledgeGraphs

#126 fix: remove default value of BaseChatModel
  .github/workflows/tests_talk2scholars.yml
  aiagents4pharma/talk2aiagents4pharma/agents/main_agent.py
  aiagents4pharma/talk2aiagents4pharma/tests/test_main_agent.py
  aiagents4pharma/talk2biomodels/agents/t2b_agent.py
  aiagents4pharma/talk2biomodels/tests/test_ask_question.py
  aiagents4pharma/talk2biomodels/tests/test_get_annotation.py
  aiagents4pharma/talk2biomodels/tests/test_getmodelinfo.py
  aiagents4pharma/talk2biomodels/tests/test_integration.py
  aiagents4pharma/talk2biomodels/tests/test_param_scan.py
  aiagents4pharma/talk2biomodels/tests/test_query_article.py
  aiagents4pharma/talk2biomodels/tests/test_search_models.py
  aiagents4pharma/talk2biomodels/tests/test_simulate_model.py
  aiagents4pharma/talk2biomodels/tests/test_steady_state.py
  aiagents4pharma/talk2knowledgegraphs/agents/t2kg_agent.py
  aiagents4pharma/talk2scholars/agents/main_agent.py
  aiagents4pharma/talk2scholars/agents/s2_agent.py
  aiagents4pharma/talk2scholars/agents/zotero_agent.py
  aiagents4pharma/talk2scholars/tests/test_call_s2.py
  aiagents4pharma/talk2scholars/tests/test_call_zotero.py
  aiagents4pharma/talk2scholars/tests/test_main_agent.py
  aiagents4pharma/talk2scholars/tests/test_s2_agent.py
  aiagents4pharma/talk2scholars/tests/test_zotero_agent.py
  app/frontend/streamlit_app_talk2aiagents4pharma.py
  app/frontend/streamlit_app_talk2biomodels.py
  app/frontend/utils/streamlit_utils.py
  pyproject.toml
Labels: enhancement, Talk2Biomodels, Talk2Scholars, Talk2KnowledgeGraphs

#125 Feat/aiagents4pharma docker ci/cd
  .github/workflows/ci.yml
  README.md
  aiagents4pharma/talk2aiagents4pharma/.env.example
  aiagents4pharma/talk2aiagents4pharma/Dockerfile
  aiagents4pharma/talk2aiagents4pharma/docker-compose.yml
  aiagents4pharma/talk2knowledgegraphs/.env.example
  aiagents4pharma/talk2knowledgegraphs/Dockerfile
  aiagents4pharma/talk2knowledgegraphs/docker-compose.yml
  docs/index.md
Labels: enhancement, T2KG

#115 Feat/talk2scholars: PDF Agent & Question and Answer Tool
  aiagents4pharma/talk2scholars/agents/__init__.py
  aiagents4pharma/talk2scholars/agents/pdf_agent.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/__init__.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/pdf_agent/__init__.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/pdf_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/config.yaml
  aiagents4pharma/talk2scholars/configs/tools/__init__.py
  aiagents4pharma/talk2scholars/configs/tools/question_and_answer/__init__.py
  aiagents4pharma/talk2scholars/configs/tools/question_and_answer/default.yaml
  aiagents4pharma/talk2scholars/state/state_talk2scholars.py
  aiagents4pharma/talk2scholars/tests/test_pdf_agent.py
  aiagents4pharma/talk2scholars/tests/test_question_and_answer_tool.py
  aiagents4pharma/talk2scholars/tools/__init__.py
  aiagents4pharma/talk2scholars/tools/pdf/__init__.py
  aiagents4pharma/talk2scholars/tools/pdf/question_and_answer.py
  aiagents4pharma/talk2scholars/tools/s2/query_results.py
  app/frontend/streamlit_app_talk2scholars.py
  docs/talk2scholars/agents/pdf_agent.md
  docs/talk2scholars/tools/question_and_answer.md
  mkdocs.yml
  requirements.txt
Labels: enhancement, T2S

#124 Feat/talk2scholars zotero write
  README.md
  aiagents4pharma/talk2scholars/agents/main_agent.py
  aiagents4pharma/talk2scholars/agents/s2_agent.py
  aiagents4pharma/talk2scholars/agents/zotero_agent.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/main_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/s2_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/zotero_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/config.yaml
  aiagents4pharma/talk2scholars/configs/tools/__init__.py
  aiagents4pharma/talk2scholars/configs/tools/multi_paper_recommendation/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/search/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/single_paper_recommendation/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/zotero_read/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/zotero_write/__inti__.py
  aiagents4pharma/talk2scholars/configs/tools/zotero_write/default.yaml
  aiagents4pharma/talk2scholars/tests/test_call_s2.py
  aiagents4pharma/talk2scholars/tests/test_call_zotero.py
  aiagents4pharma/talk2scholars/tests/test_main_agent.py
  aiagents4pharma/talk2scholars/tests/test_s2_display.py
  aiagents4pharma/talk2scholars/tests/test_s2_multi.py
  aiagents4pharma/talk2scholars/tests/test_s2_query.py
  aiagents4pharma/talk2scholars/tests/test_s2_retrieve.py
  aiagents4pharma/talk2scholars/tests/test_s2_search.py
  aiagents4pharma/talk2scholars/tests/test_s2_single.py
  aiagents4pharma/talk2scholars/tests/test_s2_tools.py
  aiagents4pharma/talk2scholars/tests/test_zotero_path.py
  aiagents4pharma/talk2scholars/tests/test_zotero_read.py
  aiagents4pharma/talk2scholars/tests/test_zotero_tool.py
  aiagents4pharma/talk2scholars/tests/test_zotero_write.py
  aiagents4pharma/talk2scholars/tools/s2/multi_paper_rec.py
  aiagents4pharma/talk2scholars/tools/s2/retrieve_semantic_scholar_paper_id.py
  aiagents4pharma/talk2scholars/tools/s2/search.py
  aiagents4pharma/talk2scholars/tools/s2/single_paper_rec.py
  aiagents4pharma/talk2scholars/tools/zotero/__init__.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/__init__.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/zotero_path.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_read.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_write.py
  aiagents4pharma/talk2scholars/tutorial.ipynb
  app/frontend/streamlit_app_talk2scholars.py
  app/frontend/utils/streamlit_utils.py
  docs/index.md
Labels: enhancement, T2S

#128 Feat/t2s paper download agent
  aiagents4pharma/talk2scholars/agents/__init__.py
  aiagents4pharma/talk2scholars/agents/paper_download_agent.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/paper_download_agent/__init__.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/paper_download_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/config.yaml
  aiagents4pharma/talk2scholars/configs/tools/download_arxiv_paper/__init__.py
  aiagents4pharma/talk2scholars/configs/tools/download_arxiv_paper/default.yaml
  aiagents4pharma/talk2scholars/state/state_talk2scholars.py
  aiagents4pharma/talk2scholars/tests/test_paper_download_agent.py
  aiagents4pharma/talk2scholars/tests/test_paper_download_tools.py
  aiagents4pharma/talk2scholars/tools/paper_download/__init__.py
  aiagents4pharma/talk2scholars/tools/paper_download/abstract_downloader.py
  aiagents4pharma/talk2scholars/tools/paper_download/arxiv_downloader.py
  aiagents4pharma/talk2scholars/tools/paper_download/download_arxiv_input.py
  docs/talk2scholars/agents/paper_download_agent.md
  docs/talk2scholars/tools/abstract_downloader.md
  docs/talk2scholars/tools/arxiv_downloader.md
  docs/talk2scholars/tools/download_arxiv_input.md
  mkdocs.yml
Labels: enhancement, T2S

#143 fix: T2S integration
  .github/workflows/ci.yml
  aiagents4pharma/talk2scholars/agents/main_agent.py
  aiagents4pharma/talk2scholars/agents/paper_download_agent.py
  aiagents4pharma/talk2scholars/agents/pdf_agent.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/main_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/paper_download_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/s2_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/app/frontend/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/download_arxiv_paper/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/multi_paper_recommendation/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/question_and_answer/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/search/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/single_paper_recommendation/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/zotero_read/default.yaml
  aiagents4pharma/talk2scholars/configs/tools/zotero_write/default.yaml
  aiagents4pharma/talk2scholars/state/state_talk2scholars.py
  aiagents4pharma/talk2scholars/tests/test_llm_main_integration.py
  aiagents4pharma/talk2scholars/tests/test_main_agent.py
  aiagents4pharma/talk2scholars/tests/test_question_and_answer_tool.py
  aiagents4pharma/talk2scholars/tests/test_routing_logic.py
  aiagents4pharma/talk2scholars/tests/test_s2_multi.py
  aiagents4pharma/talk2scholars/tests/test_s2_search.py
  aiagents4pharma/talk2scholars/tests/test_s2_single.py
  aiagents4pharma/talk2scholars/tests/test_zotero_read.py
  aiagents4pharma/talk2scholars/tools/paper_download/abstract_downloader.py
  aiagents4pharma/talk2scholars/tools/paper_download/arxiv_downloader.py
  aiagents4pharma/talk2scholars/tools/paper_download/download_arxiv_input.py
  aiagents4pharma/talk2scholars/tools/pdf/question_and_answer.py
  aiagents4pharma/talk2scholars/tools/s2/multi_paper_rec.py
  aiagents4pharma/talk2scholars/tools/s2/query_results.py
  aiagents4pharma/talk2scholars/tools/s2/search.py
  aiagents4pharma/talk2scholars/tools/s2/single_paper_rec.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_read.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_write.py
  app/frontend/streamlit_app_talk2scholars.py
  app/frontend/utils/streamlit_utils.py
  pyproject.toml
  requirements.txt
Labels: enhancement

#148 Fix/talk2scholars buglist
  aiagents4pharma/talk2scholars/agents/zotero_agent.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/zotero_agent/default.yaml
  aiagents4pharma/talk2scholars/state/state_talk2scholars.py
  aiagents4pharma/talk2scholars/tests/test_routing_logic.py
  aiagents4pharma/talk2scholars/tests/test_zotero_agent.py
  aiagents4pharma/talk2scholars/tests/test_zotero_human_in_the_loop.py
  aiagents4pharma/talk2scholars/tests/test_zotero_path.py
  aiagents4pharma/talk2scholars/tests/test_zotero_read.py
  aiagents4pharma/talk2scholars/tests/test_zotero_write.py
  aiagents4pharma/talk2scholars/tools/zotero/__init__.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/zotero_path.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_read.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_review.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_write.py
  pyproject.toml
Labels: enhancement, T2S

#154 Fix/talk2scholars utility
  aiagents4pharma/talk2scholars/__init__.py
  aiagents4pharma/talk2scholars/agents/__init__.py
  aiagents4pharma/talk2scholars/configs/__init__.py
  aiagents4pharma/talk2scholars/configs/agents/__init__.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/__init__.py
  aiagents4pharma/talk2scholars/configs/app/__init__.py
  aiagents4pharma/talk2scholars/configs/tools/__init__.py
  aiagents4pharma/talk2scholars/pyproject.toml
  aiagents4pharma/talk2scholars/state/__init__.py
  aiagents4pharma/talk2scholars/tests/test_s2_multi.py
  aiagents4pharma/talk2scholars/tests/test_s2_search.py
  aiagents4pharma/talk2scholars/tests/test_s2_single.py
  aiagents4pharma/talk2scholars/tests/test_zotero_path.py
  aiagents4pharma/talk2scholars/tests/test_zotero_read.py
  aiagents4pharma/talk2scholars/tests/test_zotero_write.py
  aiagents4pharma/talk2scholars/tools/__init__.py
  aiagents4pharma/talk2scholars/tools/pdf/__init__.py
  aiagents4pharma/talk2scholars/tools/s2/__init__.py
  aiagents4pharma/talk2scholars/tools/s2/multi_paper_rec.py
  aiagents4pharma/talk2scholars/tools/s2/search.py
  aiagents4pharma/talk2scholars/tools/s2/single_paper_rec.py
  aiagents4pharma/talk2scholars/tools/s2/utils/__init__.py
  aiagents4pharma/talk2scholars/tools/s2/utils/multi_helper.py
  aiagents4pharma/talk2scholars/tools/s2/utils/search_helper.py
  aiagents4pharma/talk2scholars/tools/s2/utils/single_helper.py
  aiagents4pharma/talk2scholars/tools/zotero/__init__.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/__init__.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/read_helper.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/review_helper.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/write_helper.py
  aiagents4pharma/talk2scholars/tools/zotero/utils/zotero_path.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_read.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_review.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_write.py
Labels: enhancement, T2S
