Repository VirtualPatientEngine/AIAgents4Pharma, pull requests merged in 2025-02, with the labels that each got.

#81 feat: Add tool for extracting annotions of species in an ODE model
  aiagents4pharma/talk2biomodels/__init__.py
  aiagents4pharma/talk2biomodels/agents/t2b_agent.py
  aiagents4pharma/talk2biomodels/api/__init__.py
  aiagents4pharma/talk2biomodels/api/kegg.py
  aiagents4pharma/talk2biomodels/api/ols.py
  aiagents4pharma/talk2biomodels/api/uniprot.py
  aiagents4pharma/talk2biomodels/states/state_talk2biomodels.py
  aiagents4pharma/talk2biomodels/tests/test_api.py
  aiagents4pharma/talk2biomodels/tests/test_get_annotation.py
  aiagents4pharma/talk2biomodels/tools/__init__.py
  aiagents4pharma/talk2biomodels/tools/get_annotation.py
  app/frontend/prompts/prompt_general.txt
  app/frontend/streamlit_app.py
  app/frontend/streamlit_app_talk2biomodels.py
Labels: enhancement, Talk2Biomodels

#85 feat: rag over article
  aiagents4pharma/configs/talk2biomodels/agents/t2b_agent/default.yaml
  aiagents4pharma/talk2biomodels/agents/t2b_agent.py
  aiagents4pharma/talk2biomodels/pyproject.toml
  aiagents4pharma/talk2biomodels/states/state_talk2biomodels.py
  aiagents4pharma/talk2biomodels/tests/article_on_model_537.pdf
  aiagents4pharma/talk2biomodels/tests/test_query_article.py
  aiagents4pharma/talk2biomodels/tools/__init__.py
  aiagents4pharma/talk2biomodels/tools/query_article.py
  app/frontend/streamlit_app_talk2biomodels.py
  pyproject.toml
  requirements.txt
Labels: enhancement

#100 Feat/add nvidia nim
  .github/workflows/tests_talk2biomodels.yml
  README.md
  aiagents4pharma/talk2biomodels/agents/t2b_agent.py
  aiagents4pharma/talk2biomodels/configs/tools/ask_question/default.yaml
  aiagents4pharma/talk2biomodels/pyproject.toml
  aiagents4pharma/talk2biomodels/states/state_talk2biomodels.py
  aiagents4pharma/talk2biomodels/tests/test_ask_question.py
  aiagents4pharma/talk2biomodels/tests/test_get_annotation.py
  aiagents4pharma/talk2biomodels/tests/test_integration.py
  aiagents4pharma/talk2biomodels/tests/test_query_article.py
  aiagents4pharma/talk2biomodels/tests/test_search_models.py
  aiagents4pharma/talk2biomodels/tests/test_steady_state.py
  aiagents4pharma/talk2biomodels/tools/ask_question.py
  aiagents4pharma/talk2biomodels/tools/custom_plotter.py
  aiagents4pharma/talk2biomodels/tools/get_annotation.py
  aiagents4pharma/talk2biomodels/tools/query_article.py
  aiagents4pharma/talk2biomodels/tools/search_models.py
  app/frontend/streamlit_app_talk2biomodels.py
  app/frontend/utils/streamlit_utils.py
  docs/index.md
  pyproject.toml
  requirements.txt
Labels: enhancement, Talk2Biomodels

#105 feat: add PubChem/MolMIM for enrichment/embedding of SMILES-based drugs
  .gitignore
  aiagents4pharma/talk2knowledgegraphs/configs/__init__.py
  aiagents4pharma/talk2knowledgegraphs/configs/config.yaml
  aiagents4pharma/talk2knowledgegraphs/configs/utils/pubchem_utils/default.yaml
  aiagents4pharma/talk2knowledgegraphs/pyproject.toml
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_embeddings_nim_molmim.py
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_enrichments_pubchem.py
  aiagents4pharma/talk2knowledgegraphs/tests/test_utils_pubchem_utils.py
  aiagents4pharma/talk2knowledgegraphs/utils/__init__.py
  aiagents4pharma/talk2knowledgegraphs/utils/embeddings/__init__.py
  aiagents4pharma/talk2knowledgegraphs/utils/embeddings/nim_molmim.py
  aiagents4pharma/talk2knowledgegraphs/utils/enrichments/__init__.py
  aiagents4pharma/talk2knowledgegraphs/utils/enrichments/pubchem_strings.py
  aiagents4pharma/talk2knowledgegraphs/utils/pubchem_utils.py
  docs/notebooks/talk2knowledgegraphs/tutorial_primekg_smiles_enrich_embed.ipynb
  docs/talk2knowledgegraphs/utils/embeddings/nim_molmim.md
  docs/talk2knowledgegraphs/utils/enrichments/pubchem_strings.md
  mkdocs.yml
  pyproject.toml
  requirements.txt
Labels: enhancement, Talk2KnowledgeGraphs

#108 fix: address reviews
  aiagents4pharma/talk2biomodels/configs/config.yaml
  aiagents4pharma/talk2biomodels/configs/tools/__init__.py
  aiagents4pharma/talk2biomodels/configs/tools/custom_plotter/__init__.py
  aiagents4pharma/talk2biomodels/configs/tools/custom_plotter/default.yaml
  aiagents4pharma/talk2biomodels/models/basico_model.py
  aiagents4pharma/talk2biomodels/tests/test_getmodelinfo.py
  aiagents4pharma/talk2biomodels/tests/test_integration.py
  aiagents4pharma/talk2biomodels/tests/test_load_biomodel.py
  aiagents4pharma/talk2biomodels/tests/test_search_models.py
  aiagents4pharma/talk2biomodels/tools/custom_plotter.py
  aiagents4pharma/talk2biomodels/tools/get_modelinfo.py
  aiagents4pharma/talk2biomodels/tools/load_biomodel.py
  aiagents4pharma/talk2biomodels/tools/parameter_scan.py
  aiagents4pharma/talk2biomodels/tools/search_models.py
  aiagents4pharma/talk2biomodels/tools/simulate_model.py
  aiagents4pharma/talk2biomodels/tools/steady_state.py
  aiagents4pharma/talk2biomodels/tools/utils.py
  app/frontend/streamlit_app_talk2biomodels.py
  app/frontend/utils/streamlit_utils.py
  pyproject.toml
Labels: Talk2Biomodels

#109 fix: raise error when invalid species or param entered for simulation
  aiagents4pharma/talk2biomodels/models/basico_model.py
  aiagents4pharma/talk2biomodels/tests/test_basico_model.py
Labels: bug

#110 Feat/talk2scholars zotero read
  README.md
  aiagents4pharma/talk2scholars/agents/__init__.py
  aiagents4pharma/talk2scholars/agents/main_agent.py
  aiagents4pharma/talk2scholars/agents/zotero_agent.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/__init__.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/main_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/s2_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/zotero_agent/__init__.py
  aiagents4pharma/talk2scholars/configs/agents/talk2scholars/zotero_agent/default.yaml
  aiagents4pharma/talk2scholars/configs/config.yaml
  aiagents4pharma/talk2scholars/configs/tools/__init__.py
  aiagents4pharma/talk2scholars/configs/tools/zotero_read/__init__.py
  aiagents4pharma/talk2scholars/configs/tools/zotero_read/default.yaml
  aiagents4pharma/talk2scholars/pyproject.toml
  aiagents4pharma/talk2scholars/requirements.txt
  aiagents4pharma/talk2scholars/state/state_talk2scholars.py
  aiagents4pharma/talk2scholars/tests/test_call_s2.py
  aiagents4pharma/talk2scholars/tests/test_call_zotero.py
  aiagents4pharma/talk2scholars/tests/test_main_agent.py
  aiagents4pharma/talk2scholars/tests/test_routing_logic.py
  aiagents4pharma/talk2scholars/tests/test_zotero_agent.py
  aiagents4pharma/talk2scholars/tests/test_zotero_tool.py
  aiagents4pharma/talk2scholars/tools/__init__.py
  aiagents4pharma/talk2scholars/tools/s2/multi_paper_rec.py
  aiagents4pharma/talk2scholars/tools/s2/search.py
  aiagents4pharma/talk2scholars/tools/s2/single_paper_rec.py
  aiagents4pharma/talk2scholars/tools/zotero/__init__.py
  aiagents4pharma/talk2scholars/tools/zotero/zotero_read.py
  app/frontend/streamlit_app_talk2scholars.py
  docs/talk2scholars/agents/zotero_agent.md
  docs/talk2scholars/tools/zotero_read.md
  mkdocs.yml
  pyproject.toml
  requirements.txt
Labels: enhancement, Talk2Scholars

#116 Feat/notebooks4tools
  aiagents4pharma/talk2cells/pyproject.toml
  aiagents4pharma/talk2cells/requirements.txt
  docs/notebooks/talk2cells/tutorial_UMAP_visualization.ipynb
  docs/notebooks/talk2cells/tutorial_cell_annotation.ipynb
  docs/notebooks/talk2cells/tutorial_cell_discovery.ipynb
  docs/notebooks/talk2cells/tutorial_cell_type_proportion.ipynb
  mkdocs.yml
  pyproject.toml
  requirements.txt
Labels: Talk2Cells
